<div class="container">
  <h1 class="my-4">My Reservations</h1>
  <ul class="list-group">
    <% @reservations.each do |reservation| %>
      <li class="list-group-item">
        <h2 class="h5"><%= reservation.item_name %></h2>
        <p>Date: <%= reservation.date %></p>
        <p>City: <%= reservation.city %></p>
      </li>
    <% end %>
  </ul>
</div>
