<!-- app/views/reservations/my_reservations.html.erb -->
<h1>My Reservations</h1>
<ul>
 <% @reservations.each do |reservation| %>
   <li>
     <h2><%= reservation.item_name %></h2>
     <p>Date: <%= reservation.date %></p>
     <p>City: <%= reservation.city %></p>
   </li>
 <% end %>
</ul>
