@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,700&display=swap');


header {
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 232px;
}

/* mainPage.css */

#network-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

#network-icon img {
  max-width: 30px;
  max-height: 20px;
  color: #9d9b9b;
}

#logo {
  width: 229px;
  padding-bottom: 70px;
  padding-top: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 250px;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 22px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #b9e55f;
}

.copy-right {
  text-align: center;
}

.container {
  display: flex;
  align-items: start;
}

section {
  display: flex;
  align-items: center;
}

.left_nav,
.right_nav {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.btn {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn.active {
  background-color: #4caf50;
  color: white;
}

.btn.inactive {
  background-color: #ccc;
  color: #888;
}

.cards-container {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.bottom_content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-behavior: smooth;
  transition: transform 1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.card {
  font-family: 'Lato', sans-serif;
  flex: 0 0 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 1s cubic-bezier(0.15, 0.8, 0.35, 1);
}

.card:hover {
  transform: scale(1.05);
}

.avatar img {
  max-width: 100%;
  height: auto;
}

.desc {
  margin-top: 10px;
  color: rgb(170, 161, 161);
}

.session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_header h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 5px;
  padding-top: 70px;
}

.top_header p{
  font-family: 'PT Sans', sans-serif;
  color: rgb(170, 161, 161); 
}

.motor_title {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.media_handle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
}

.media_handle > img{
  width: 20px;
  height: auto;
  width: 12px;
  height: auto;
  padding: 0.5rem;
  border: 1px solid rgb(170, 161, 161);
  border-radius: 50%;
  margin-right: 10px;
  color:  rgb(170, 161, 161);
}